<header class="common-header fixed large noborder" id="git-header-nav" >
    <div class="ui container" >
        <div class="ui menu header-menu" >
            <div class="git-nav-expand-bar" >
                <i class="iconfont icon-mode-table" ></i >
            </div >
            <div class="nav__sidebar" >
                <div class="nav__sidebar-container" >
                    <div class="nav__sidebar-top" >
                        <div class="nav__avatar-box" ></div >
                        <div class="nav__buttons-box" >

                        </div >
                    </div >
                    <div class="nav__sidebar-middle" >
                        <div class="nav__sidebar-list" >
                            <ul >
                                <li class="nav__sidebar-item" >
                                    <a href="/" ><i class="iconfont icon-ic-discover" ></i >
                                        <span class="nav__sidebar-name" >&nbsp;主页</span >
                                    </a >
                                </li >
                                <li class="nav__sidebar-item" >
                                    <a href="/space/index" ><i class="iconfont icon-ic-enterprise" ></i >
                                        <span class="nav__sidebar-name" >&nbsp;空间</span >
                                    </a >
                                </li >
                                <li class="nav__sidebar-item" >
                                    <a href="/user/index" ><i class="iconfont icon-ic-education" ></i >
                                        <span class="nav__sidebar-name" >&nbsp;用户</span >
                                    </a >
                                </li >
                                <li class="nav__sidebar-item" >
                                    <a href="/system/main/index" ><i class="iconfont icon-issuepx" ></i >
                                        <span class="nav__sidebar-name" >&nbsp;系统</span >
                                    </a ></li >
                                <li class="nav__sidebar-item split-line" ></li >
                                <li class="nav__sidebar-item" >
                                    <a href="#" ><i class="iconfont icon-ic-search" ></i >
                                        <span class="nav__sidebar-name" >搜索</span >
                                    </a >
                                </li >
                                <li class="nav__sidebar-item" >
                                    <a href="#" ><i class="iconfont icon-help-circle" ></i >
                                        <span class="nav__sidebar-name" >帮助中心</span >
                                    </a >
                                </li >
                            </ul >
                        </div >
                    </div >
                    <div class="nav__sidebar-bottom" >
                        <div class="nav__sidebar-close-button" >
                            <i class="fa fa-angle-double-left" ></i >
                        </div >
                    </div >
                </div >
            </div >

            <div class="item gitosc-logo" >
                <a href="/" ><img alt="" class="ui inline image" height="28" src="static/demo/logo.png" title="" width="95" >
                    <img alt="" class="ui inline black image" height="28" src="static/demo/logo.png" title="" width="95" >
                </a ></div >
            <a class="item state-active" href="/" title="主页" >主页
            </a ><a class="item " href="/space/index" title="空间" >空间
            </a ><a class="item " href="/user/index" title="用户" >用户
            </a ><a class="item" href="/system/main/index" id="blog" target="_blank" title="系统" >系统
            </a >
            <div class="center responsive-logo" >
                <a href="/" ><img alt="" class="ui inline image" height="24" src="static/demo/logo.png" title="" width="85" >
                    <img alt="" class="ui inline black image" height="24" src="static/demo/logo.png" title="" width="85" >
                </a ></div >
            <div class="right menu userbar" id="git-nav-user-bar" >
                <form accept-charset="UTF-8" action="/search" class="ui item" data-text-filter="搜索格式不正确" data-text-require="搜索关键字不能少于1个" id="navbar-search-form" method="get" >
                    <div style="margin:0;padding:0;display:inline" ><input name="utf8" type="hidden" value="✓" ></div >
                    <input id="navbar-search-type" name="type" type="hidden" >
                    <input id="fork_filter" name="fork_filter" type="hidden" value="on" >
                    <div class="ui search" >
                        <input class="prompt" id="navbar-search-input" name="q" placeholder="搜开源" type="text" value="" autocomplete="off" >
                        <div class="results" ></div >
                    </div >
                </form >

                <a class="item git-nav-user__login-item" href="/login" sa_evt="login_show" sa_referrer_action="站导航右上角-登录按钮" sa_referrer_type="开源软件分类页面" sa_referrer_url="" >登录
                </a ><a class="item git-nav-user__register-item" href="/signup" sa_evt="register_show" sa_referrer_action="站导航右上角-注册按钮" sa_referrer_type="开源软件分类页面" sa_referrer_url="" >注册
                </a >
            </div >
        </div >
    </div >
</header >