<!DOCTYPE html>
<html lang="zh-CN" >
<head >
    <meta charset="utf-8" >
    <meta http-equiv="X-UA-Compatible" content="IE=edge" >
    <meta name="viewport" content="width=device-width, initial-scale=1" >
    <meta name="description" content="wiki markdown" >
    <meta name="author" content="phachon" >
    <title >MM-Wiki</title >
    <link type="favicon" rel="shortcut icon" href="/static/images/favicon.ico" />

    <link type="text/css" rel="stylesheet" href="/static/demo/css/font-awesome.css" >

    <!-- dashboard css -->
    <link type="text/css" rel="stylesheet" href="/static/demo/css/dashboard.css" >

    <link type="text/css" rel="stylesheet" href="/static/demo/css/bdshare.css" >

    <!-- jquery js-->
    <script type="text/javascript" src="/static/plugins/jquery/jquery1.11.js" ></script >

</head >
<body class="large ui_basic" id="explores-show" style="">
{{template "demo/header.html" .}}
{{.LayoutContent}}
</body >
</html >